<!doctype html>
<html>
    <head>
        <title> Expenses Category</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                    <li><a href="{% url 'create_category' %}">Create Category</a></li>
                    <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                    <li><a href="{% url 'category_list' %}">Category_list</a></li>
                    <li><a href="{% url 'account_list' %}">Account_list</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Expenses Category</h1>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Number of receipts<th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts_list%}
                            <tr>
                                <td>{{account.name}}</td>
                                <td>{{account.number}}</td>
                                <td>{{ account.receipts.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <main>
    </body>
</html>
